@charset "ISO-8859-1";
body{
	background: white;
}

form{
	margin: 0 auto;
	background: darkred;
	width: 500px;
	margin-top: 250px;
	padding: 20px;
	border-radius: 20px;

}
.campos{
	margin-top: 15px;
}
#botones{
	margin-top: 20px;
	margin-left: 150px;
}

form label{
	float: left;
	width: 150px;
	color:  whitesmoke;

}
form input{
	width: 200px;
}
form textarea{
	width: 200px;
	height: 100px;
}

form input[type="submit"], form input[type="reset"]{
	width: 100px;

	background-color: palevioletred;
	border-color: palevioletred;
	color: whitesmoke;
	cursor: pointer;
}

